@model AirlineFlightApp.Models.AirplaneDto
@{
    ViewBag.Title = "Details";
}

<h2>Details of Airplane</h2>

<div style="display:flex; gap:10em">
    <a href="/Airplane/List" style="font-weight:bold">Go back to list</a>

    <a href="/Airplane/Edit/@Model.AirplaneId" style="font-weight:bold; color:green">Update</a>

    <a href="/Airplane/DeleteConfirm/@Model.AirplaneId" style="font-weight: bold; color: red">Delete</a>
</div>


<h2>Model: @Model.AirplaneModel</h2>
<div><strong>Registration Number: </strong> @Model.RegistrationNum</div>
<div><strong>Manufacturer: </strong> @Model.ManufacturerName</div>
<div><strong>Manufacture Year: </strong> @Model.ManufactureYear.Date.ToString("yyyy-MM-dd")</div>
<div><strong>Max Passengers: </strong> @Model.MaxPassenger</div>
<div><strong>Engine Model: </strong> @Model.EngineModel</div>
<div><strong>Speed: </strong> @Model.Speed</div>
<div><strong>Range: </strong> @Model.Range</div>

