@model AirlineFlightApp.Models.AirlineDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Airline?</h2>
<a href="/Airline/List">Cancel</a>

<h2>@Model.AirlineName</h2>
<div>Country: @Model.Country</div>
<div>Phone number: @Model.ContactNumber</div>
<a href="@Model.Website">Website: @Model.AirlineName</a>

<form action="/Airline/Delete/@Model.AirlineId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>

