@model AirlineFlightApp.Models.ViewModels.DetailsAirline
@{
    ViewBag.Title = "Details";
}

<h2>Details of Airline</h2>

<div style="display:flex; gap:10em">
    <a href="/Airline/List" style="font-weight:bold">Go back to list</a>

    <a href="/Airline/Edit/@Model.SelectedAirline.AirlineId" style="font-weight:bold; color:green">Update</a>

    <a href="/Airline/DeleteConfirm/@Model.SelectedAirline.AirlineId" style="font-weight: bold; color: red">Delete</a>
</div>



<h2>Name: @Model.SelectedAirline.AirlineName</h2>
<div><strong>Country: </strong> @Model.SelectedAirline.Country</div>
<div><strong>Headquarters: </strong> @Model.SelectedAirline.Headquarters</div>
<div><strong>Founder: </strong> @Model.SelectedAirline.FounderName</div>
<div><strong>Date foundation: </strong> @Model.SelectedAirline.FoundingYear.Date.ToString("yyyy-MM-dd")</div>
<div><strong>Website: </strong> <a href="@Model.SelectedAirline.Website">@Model.SelectedAirline.AirlineName</a></div>
<div><strong>Contact number: </strong> @Model.SelectedAirline.ContactNumber</div>

<div style="margin-top:50px;">
    <h3>Flights related to <span style="font-weight:bold">@Model.SelectedAirline.AirlineName</span></h3>

    @{
        if (Model.RelatedFlights == null || !Model.RelatedFlights.Any())
        {
            <p> **This Airline does not have any scheduled Flight</p>
        }
        else
        {
            <ol>
                @foreach (var flight in Model.RelatedFlights)
                {
                    <li>
                        <a href="/Flight/Details/@flight.FlightId">@flight.FlightNumber -- Date: @flight.DepartureTime.ToString("yyyy-MM-dd h:mm tt")</a>
                    </li>
                }
            </ol>
        }
    }

</div>

<div style="margin-top:50px;">
    <h3>Airplanes related to <span style="font-weight:bold">@Model.SelectedAirline.AirlineName</span></h3>

    @{
        if (Model.RelatedAirplanes == null || !Model.RelatedAirplanes.Any())
        {
            <p> **This Airline does not have any Airplane</p>
        }
        else
        {
            <ol>
                @foreach (var airplane in Model.RelatedAirplanes)
                {
                    <li>
                        <a href="/Airplane/Details/@airplane.AirplaneId">Registration Num: @airplane.RegistrationNum <br/> Model: @airplane.AirplaneModel</a>
                    </li>
                }
            </ol>
        }
    }

</div>
