@model IEnumerable<AirlineFlightApp.Models.AirlineDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Airlines in the system</h2>

<a href="/Airline/New">New Airline</a>

<form action="/Airline/List" method="GET">
    <input type="text" name="AirlineSearch" />
    <input type="submit" value="Search">
</form>

@foreach (var airline in Model)
{
    <h2><a href="/Airline/Details/@airline.AirlineId">@airline.AirlineName</a></h2>
    <div>Country: @airline.Country</div>
    <div>Phone number: @airline.ContactNumber</div>
    <a href="@airline.Website">Website: @airline.AirlineName</a>
    <hr />

}
