@model AirlineFlightApp.Models.ViewModels.UpdateFlight
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/Flight/Update/@Model.SelectedFlight.FlightId" method="POST">
    <div>
        <input type="text" name="FlightId" value="@Model.SelectedFlight.FlightId" style="display:none" />
    </div>
    <div>
        <label>Flight Number : </label> <input type="text" name="FlightNumber" value="@Model.SelectedFlight.FlightNumber" />
    </div>
    <div>
        <label>From : </label> <input type="text" name="From" value="@Model.SelectedFlight.From" />
    </div>
    <div>
        <label>To : </label> <input type="text" name="To" value="@Model.SelectedFlight.To" />
    </div>
    <div>
        <label>Departure Airport : </label> <input type="text" name="DepartureAirport" value="@Model.SelectedFlight.DepartureAirport" />
    </div>
    <div>
        <label>Destination Airport : </label> <input type="text" name="DestinationAirport" value="@Model.SelectedFlight.DestinationAirport" />
    </div>
    <div>
        <label>Departure Time : </label> <input type="datetime-local" name="DepartureTime" value="@Model.SelectedFlight.DepartureTime.ToString("yyyy-MM-ddT"+@Model.SelectedFlight.ArrivalTime.TimeOfDay+"")" />
    </div>
    <div>
        <label>Arrival Time : </label> <input type="datetime-local" name="ArrivalTime" value="@Model.SelectedFlight.ArrivalTime.ToString("yyyy-MM-ddT"+@Model.SelectedFlight.ArrivalTime.TimeOfDay+"")" />
    </div>
    <div>
        <label>Ticket Price : </label> <input type="number" name="TicketPrice" step="0.01" min="0" value="@Model.SelectedFlight.TicketPrice" />
    </div>
    <div>
        <label>Time Zone From : </label> <input type="text" name="TimeZoneFrom" value="@Model.SelectedFlight.TimeZoneFrom" />
    </div>
    <div>
        <label>Time Zone To : </label> <input type="text" name="TimeZoneTo" value="@Model.SelectedFlight.TimeZoneTo" />
    </div>

    <div>
        <label>Airline Id : </label>  <!-- <input type="number" name="AirlineId" value="@Model.SelectedFlight.AirlineId" /> -->
        <select name="AirlineId">
            @foreach (var airline in Model.AirlinesOptions)
            {
                <option value="@airline.AirlineId" selected="@(airline.AirlineId == Model.SelectedFlight.AirlineId)">@airline.AirlineName</option>
            }
        </select>
    </div>
    <div>
        <label>Airplane : </label>  <!-- <input type="number" name="AirplaneId" value="@Model.SelectedFlight.AirplaneId" /> -->
        <select name="AirplaneId">
            @foreach (var airplane in Model.AirplanesOptions)
            {
                <option value="@airplane.AirplaneId" selected="@(airplane.AirplaneId == Model.SelectedFlight.AirplaneId)">@airplane.AirplaneModel</option>
            }
        </select>
    </div>


        <div>
            <input type="submit" value="Update Flight" />

        </div>
    </form>

